<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>5xx Page</title>

    <div th:replace="commonAdmin :: commonLink"></div>

</head>

<body style="background-color: #F3F4F5 ; text-align:center;">
<div style="text-align:center;" class="m-line-size">

    <div style="padding-top: 50px !important;">
        <img class="m-line-size" src="../../static/images/404-error.png" th:src="@{/images/500-error.png}">
    </div>
    <h2>哪里出错了</h2>

    <button class="ui button"><a href="#" th:href="@{/}">返回</a></button>


</div>
</div>





</body>
</html>
