<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <div th:replace="commonAdmin :: commonLink"></div>
</head>
<body >

<div th:replace="commonAdmin :: navigation"></div>

<div>
    <div class="ui container m-admin-blog-line-top">
        <div  class="ui  secondary segment form">
            <input type="hidden" name="page" >
            <div class="inline fields">
                <div class="field">
                    <div class="ui category search">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="查询文章">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                <div class="field">
                   <a th:href="@{/blog/input}"> <button class="ui primary button">
                        添加
                   </button></a>
                </div>
                <div class="field">
                    <div class="message m-font-style" th:text="${errormessage}"  th:unless="${#strings.isEmpty(errormessage)}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui aligned center container">
        <table class="ui basic table">
            <thead>
            <tr>
                <th>标题</th>
                <th>状态</th>
                <th>分类</th>
<!--                <th>评论</th>-->
                <th>访问</th>
                <th>发布时间</th>
                <th>操作</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:each="blog : ${blogpage.records}">
            <tr>
                <td th:text="${blog.bTitle}">java</td>
                <td th:if="${blog.bIspublic == false }" >未公开</td>
                <td th:if="${blog.bIspublic == true }" >已公开</td>
                <td th:text="${blog.bTag.tName}"></td>
                <td th:text="${blog.bViews}">0</td>
                <td th:text="${#dates.format(blog.bDate,'yyyy-MM-dd HH:mm')}"></td>
                <td><a>编辑</a></td>
                <td><a>删除</a></td>

            </tr>

            </tbody>
        </table>

    </div>

    <div class="ui container center aligned m-line-size">
        <div class="pagination">
            <a href="#" th:href="@{'/blog/'+${blogpage.current-1}}" th:if="${blogpage.isHavePre == true}">«</a>

            <i th:each="tagpage : ${blogpage.navigation}">
                <a href="#" th:href="@{'/blog/'+${tagpage}}" th:if = "${tagpage == blogpage.current}" class="active" th:text="${tagpage}">1</a>
                <a href="#" th:href="@{'/blog/'+${tagpage}}" th:if = "${tagpage != blogpage.current}" th:text="${tagpage}">1</a>
            </i>
            <a href="#" th:if="${blogpage.isHaveNext == true}" th:href="@{'/blog/'+${blogpage.current+1}}">»</a>

            <a href="#" th:text="|共 ${blogpage.totalpage} 页|">»</a>

        </div>
    </div>


</div>


</body>



<footer>
    <div th:include="commonAdmin::#footer"></div>

</div>
</footer>
</html>