<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <div th:replace="commonAdmin :: commonLink"></div>
</head>
<body>

<div th:replace="commonAdmin :: navigation"></div>


<!--个人信息-->
<div class="ui container aligned center m-line-size">
<!--    <div class="grid"-->
    <form class="ui form" style="">
        <h4 class="ui dividing header">个人信息</h4>
        <div class="field">
            <label>昵称</label>
                <div class="field">
                    <input type="text" name="shipping[first-name]" placeholder="昵称">
                </div>
        </div>
        <div class="field">
            <label>用户名</label>
            <div class="field">
                <input type="text" name="shipping[first-name]" placeholder="用户名">
            </div>
        </div>
        <div class="field">
            <label>邮箱</label>
            <div class="field">
                <input type="text" name="shipping[first-name]" placeholder="邮箱">
            </div>
        </div>
        <div class="field">
            <label>电话</label>
            <div class="field">
                <input type="text" name="shipping[first-name]" placeholder="电话">
            </div>
        </div>
        <div class="field">
            <label>微信</label>
            <div class="field">
                <input type="text" name="shipping[first-name]" placeholder="微信">
            </div>
        </div>
        <div class="field">
            <label>QQ</label>
            <div class="field">
                <input type="text" name="shipping[first-name]" placeholder="QQ">
            </div>
        </div>
        <div class="field">
            <label>github</label>
            <div class="field">
                <input type="text" name="shipping[first-name]" placeholder="github">
            </div>
        </div>

        <div class="ui button aligned center" tabindex="0">修改</div>
    </form>

</div>



</body>

<footer>
    <div th:include="commonAdmin::#footer"></div>
</footer>
</html>