
.m-padded-tp-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tp-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.m-padded-tp-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padded-tp{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.m-padded-tp-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tp-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tp-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}


.m-margin-tiny{
    margin: 0.1rem 0 !important;
}












/*字体*/
.m-font-style{
    font-weight: bold;
    color: #494b41;
    font-family: YouYuan;
}


/*内容展示*/
.m-content-show{
    border: 1px solid #eee !important;
    padding: 1px !important;
    /*box-shadow:5px 5px 10px 5px #ccc !important;*/
    box-shadow:0 0 10px rgba(0,0,0,0.1) !important;
    height: 265px !important;
}

/*点击后变色*/
/*.m-content-show:focus-within{*/
/*    box-shadow:0 0 15px rgba(0,0,0,0.5) !important;*/
/*}*/

.m-content-show:hover{
    box-shadow:0 0 15px rgba(0,0,0,0.2) !important;
}

/*标签阴影设置*/
.m-tags-show{
    /*box-shadow:1px 1px 1px 1px #ccc !important;*/
    box-shadow:0 0 10px rgba(0,0,0,0.1) !important;
    position: relative;
    background-color: #f6f6f6;
    margin-left: 5px;
    margin-right: 5px;
}
.m-tags-show:hover{
    box-shadow:0 0 15px rgba(0,0,0,0.2) !important;
}

/*设置阴影*/
.m-shoudow{
    box-shadow:2px 2px 2px 2px #ccc !important;
    /*height: 0.2px;*/
}

.m-tiny-shoudow{
    box-shadow:0 0 10px rgba(0,0,0,0.1) !important;
}



/*分页栏间距*/
.m-page-font-style{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}


/*控制上下边距*/
.m-line-size{
    margin-top: 5em !important;
    margin-bottom: 5em !important;
}

.m-admin-blog-line-top{
    margin-top: 5em !important;
}


/*控制内部表格大小*/
.m-margin-person-table{
    padding: 30px 30px 30px 30px !important;
}



/*.m-right-bottom {*/
/*    bottom: 0 !important;*/
/*    right: 0 !important;*/
/*}*/

.m-nav-top-button-hidden{
    position: fixed;
    top: 10px;
    right: -96%;
    /*left: 10px;*/
    width: 100%;
    margin-top: -60px;
    transition: margin-top .3s linear ;

}


@media screen and (max-width: 768px){
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
}


/*导航栏标签大小*/
.m-item{
    margin: 0 5px 0 5px !important;
    padding: 11px 13px !important;
}




/*设置标签页*/
.m-tags-fitst-page{
    width: 40%;
    margin-left: 3% !important;
    float: left;
}

.m-tags-second-page{
    width: 50%;
    margin-right: 3% !important;
    float: right;

}