<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>4xx Page</title>

    <div th:replace="commonAdmin :: commonLink"></div>

</head>

<body style="background-color: #F3F4F5 ; text-align:center;">
<div style="text-align:center;" class="m-line-size">

    <h1>激活成功</h1>

    <button class="ui button"><a href="#" th:href="@{/}">返回</a></button>


</div>
</div>





</body>
</html>
