<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link th:include="common :: commonLink">
</head>
<body>

<!--导航-->
<div th:include="common :: navigation"></div>

<br/><br/>

<!--中间内容-->

<div class="ui container aligned center" style="text-align: center;width: 80%">

<h2 th:text="分类"></h2>
<div th:each="page,pageStat: ${indexpage.records}">
    <div class="ui aligned center m-text-show m-content-show circular">
<!--        <div>-->
        <a th:href="@{'/blog/detail/'+${page.bId}}"><img src="../static/images/topimg.png"  th:src="${page.bPicture}" class="ui image rounded m-image-size"></a>
        <div class="ui m-font-style" style="font-size: 15px;margin-top: 10px;margin-bottom: 10px;text-align: center"  th:text="${page.bTitle}">
            这是一张图片<i th:text="${pageStat.index}"></i>
        </div>
        <div class="ui divider m-margin-tiny"></div>
<!--        <div class="ui mini horizontal link list" style="margin-bottom: 15px">-->
            <div class="m-margin-middle">
                <div class="item m-text-bottom-item1">
                    <div class="content" ><a href="#" target="_blank" class="header" th:text="${page.bUser.uNickname}">meilun</a></div>
                </div>
                <div class="item m-text-bottom-item2" >
                    <i class="calendar icon"></i><span th:text="${#dates.format(page.bDate,'yyyy-MM-dd')}">2020-01-01</span>
                </div>
                <div class="item m-text-bottom-item3">
                    <i class="eye icon"></i> <span  th:text="${page.bViews}">2222</span>
                </div>

              </div>
<!--        </div>-->
    </div>

</div>

</div>



<div class="ui container center aligned" style="width:100%; float: left">
    <div class="pagination">
        <!--                      <a href="#" th:text="{}"></a>-->
        <a href="#" th:href="@{'/blog/searchByTagsId/'+${thisTagsId}+'/'+${indexpage.current-1}}" th:if="${indexpage.isHavePre == true}">«</a>

        <i th:each="tagpage : ${indexpage.navigation}">
            <a href="#" th:href="@{'/blog/searchByTagsId/'+${thisTagsId}+'/'+${tagpage}}" th:if = "${tagpage == indexpage.current}" class="active" th:text="${tagpage}">1</a>
            <a href="#" th:href="@{'/blog/searchByTagsId/'+${thisTagsId}+'/'+${tagpage}}" th:if = "${tagpage != indexpage.current}" th:text="${tagpage}">1</a>
        </i>
        <a href="#" th:if="${indexpage.isHaveNext == true}" th:href="@{'/blog/searchByTagsId/'+${thisTagsId}+'/'+${indexpage.current+1}}">»</a>

        <a href="#" th:text="|共 ${indexpage.totalpage} 页|">»</a>

    </div>
</div>
</div>


</body>

<div style="width:100%; float: left">
    <div th:include="common::#footer"></div>
</div>

</html>