<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理登录</title>
  <link th:include="common :: commonLink">
  <script type="text/javascript" src="../static/js/userlogin.js" th:src="@{/js/userlogin.js}"></script>
</head>
<body>

<br>
<br>
<br>
 <div style="max-width: 30em !important;" class="ui container center aligned">
   <div class="ui container">
     <div class="ui center aligned grid">
       <div class="column">
         <h2 class="ui teal image header">
           <div class="content">
             后台管理登录
           </div>
         </h2>

         <form class="ui large form" method="post" action="#" th:action="@{/user/loginverify}">
           <div class="ui segment">

             <div class="field">
               <div class="ui left icon input">
                 <i class="user icon"></i>
                 <input type="text" name="uUsername" placeholder="请输入用户名">
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <i class="lock icon"></i>
                 <input type="password" name="uPassword" placeholder="请输入密码">
               </div>
             </div>

             <div class="field">
               <button class="ui large fluid teal submit button">登录</button>
             </div>



           <div class="m-font-style" style="color:#49483E;">还没账号吗?点击<a th:href="@{/user/regist}" style="color: #1e70bf"> 注册 </a></div>
             <div class="ui error mini message"></div>
<!--             <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>-->
           <div id="errormessage" class="ui message" style="color: red" th:text="${errormessage}"  th:unless="${#strings.isEmpty(errormessage)}">error</div>
           </div>
         </form>


       </div>
     </div>
   </div>
 </div>



</body>
<footer>

</footer>

</html>
