<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标签</title>

    <link th:include="common :: commonLink">
</head>
<body>

<!--导航-->
<div th:include="common :: navigation"></div>



<div class="ui container aligned center" style="text-align: center;width: 80%">
    <div th:each="page,pageStat: ${tagsPage.records}">
        <div class="ui aligned center m-tags-show m-tags-size circular">
            <a href="#" th:href="@{'/blog/searchByTagsId/'+${page.tId}}"><div class="m-font-style" th:text="${page.tName}">
                 分类名
            </div> </a>
        </div>
    </div>
</div>




<div class="ui container center aligned" style="width:100%; float: left">
    <div class="pagination">
        <!--                      <a href="#" th:text="{}"></a>-->
        <a href="#" th:href="@{'/index/tags/'+${tagsPage.current-1}}" th:if="${tagsPage.isHavePre == true}">«</a>

        <i th:each="tagpage : ${tagsPage.navigation}">
            <a href="#" th:href="@{'/index/tags/'+${tagpage}}" th:if = "${tagpage == tagsPage.current}" class="active" th:text="${tagpage}">1</a>
            <a href="#" th:href="@{'/index/tags/'+${tagpage}}" th:if = "${tagpage != tagsPage.current}" th:text="${tagpage}">1</a>
        </i>
        <a href="#" th:if="${tagsPage.isHaveNext == true}" th:href="@{'/index/tags/'+${tagsPage.current+1}}">»</a>

        <a href="#" th:text="|共 ${tagsPage.totalpage} 页|">»</a>

    </div>
</div>
</div>

</body>

<div style="float: left;width: 100%">
    <footer>
        <div th:include="common::#footer"></div>
    </footer>
</div>


</html>