<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标签</title>

    <link th:include="common :: commonLink">
</head>
<body>

<!--导航-->
<div th:include="common :: navigation"></div>

<!--分类-->
<div class="ui container aligned center ">
    <div class="ui grid m-line-size">
        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon"></i><span >2020-01-01</span>
        </div>
        <div class="one wide column"></div>


        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon "></i><span >2020-01-01</span>
        </div>
        <div class="one wide column"></div>
        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon"></i><span >2020-01-01</span>
        </div>
        <div class="one wide column"></div>
        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon"></i><span >2020-01-01</span>
        </div>

    </div>

    <div class="ui grid m-line-size">
        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon"></i><span >2020-01-01</span>
        </div>
        <div class="one wide column"></div>


        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon "></i><span >2020-01-01</span>
        </div>
        <div class="one wide column"></div>
        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon"></i><span >2020-01-01</span>
        </div>
        <div class="one wide column"></div>
        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon"></i><span >2020-01-01</span>
        </div>

    </div>
    <div class="ui grid m-line-size">
        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon"></i><span >2020-01-01</span>
        </div>
        <div class="one wide column"></div>


        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon "></i><span >2020-01-01</span>
        </div>
        <div class="one wide column"></div>
        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon"></i><span >2020-01-01</span>
        </div>
        <div class="one wide column"></div>
        <div class="three wide column m-tags-show">
            <div class="m-font-style">
                分类名
            </div>
            <i class="calendar icon"></i><span >2020-01-01</span>
        </div>

    </div>

    <div class="ui container center aligned">
        <div class="pagination">
            <a href="#">«</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">»</a>
            <div class="m-page-font-style">共10页</div>
        </div>
    </div>
</div>

</body>

<footer>
    <div th:include="common::#footer"></div>
</footer>

</html>